body{
  align-items: center;
  background-color: #20201f;
  margin: 0%;
}

.logo-img{
  width: 100%;


}

.col-1{
  grid-row: 1;
  grid-column: 8 ;
  width: auto;
  height: auto;
  background-color: #20201f;
}
.sound-wave{
  background-color: #20201f;
  padding: 3% ;
  position: relative;
  left:19%;
  width: 50%;

}

.continor{
  background-color: #20201f;
}
